body {
  background-color: #f3f3f3;
  color: #46535e;
}

.landing-page {
  height: 100vh;
}
.landing-page ul {
  list-style: none;
}
.landing-page a,
.landing-page span {
  text-decoration: none;
  color: #46535e;
}
.header-footer {
  color: #f3f3f3;
  background-color: #46535e;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
}
.header-footer.header {
  top: 0;
}
.header-footer.footer {
  bottom: 0;
}
